.main-logo{
	float: left;
	height: 50px;
}

/*.main-content{
	margin-bottom: 150px;
	float: left;
	margin-right: 15px;
}*/

.cnt-topic{
	font-family: calibri;
}

.cnt h2{
	margin-top: 30px;
	margin-bottom: .75em;
}

.aside{
	margin-left: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #B2B2B2;
	width: 30%;
}

/*div img{
	background-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: #B2B2B2;
	padding: 20px;
	float: left;
}*/

