body{
	height: 100%;
	/*background: url("../images/xan-griffin-417108-unsplash.jpg");
	-webkit-background-size: cover;
	background-size: cover;*/
}
	
h1{
    margin: 0 auto;
	text-align: center;
    margin-top: 0px;
	margin-bottom: 0px;
	color: #fff;
}

#prime-container{
	background: url("../images/xan-griffin-417108-unsplash.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}

#container{
	width: 800px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 130px;
}

.accordion label{
	display: block;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	color: #fff;
	font-family: Calibri;
	letter-spacing:1px;
	margin-left: 3px;
	padding: 2px;
	background-color: #737373;
}

.accordion p{
	color: #fff;
	padding: 20px;
	line-height: 30px;
	visibility: hidden;
	opacity: 0;
	display: none;
	text-align: left;
	background-color: #000;
	margin-top: 0;
}

#accordion1:checked ~ .single-text{
	display: block;
	opacity: 1;
	visibility: visible;
	margin-bottom: 0;
}

#accordion1{
	display: none;
	position: relative;
}

#accordion2:checked ~ .single-text{
	display: block;
	opacity: 1;
	visibility: visible;
	margin-bottom: 0;
}

#accordion2{
	display: none;
	position: relative;
}

#accordion3:checked ~ .single-text{
	display: block;
	opacity: 1;
	visibility: visible;
	margin-bottom: 0;
}

#accordion3{
	display: none;
	position: relative;
}

#accordion4:checked ~ .single-text{
	display: block;
	opacity: 1;
	visibility: visible;
	margin-bottom: 0;
}

#accordion4{
	display: none;
	position: relative;
}

#accordion5:checked ~ .single-text{
	display: block;
	opacity: 1;
	visibility: visible;
	margin-bottom: 0;
}

#accordion5{
	display: none;
	position: relative;
}

#accordion6:checked ~ .single-text{
	display: block;
	opacity: 1;
	visibility: visible;
    margin-bottom: 0;
}

#accordion6{
	display: none;
	position: relative;
}




















































































